name: Validate Gradle Wrapper
on: [push, pull_request]

jobs:
  validation:
    name: Validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v5
